* {
  margin: 0;
  padding: 0;
}

.headcontainer {
  background-color: bisque;
}

.barraNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
  margin-top: 5px;
}

.barraNav h1 {
  color: #ff6961;
  font-size: 4vw;
}

.barraNav button {
  /* background: white;
  border: 1px solid black;
  padding: 2px; */
  /* margin-right: 15px; */
}

.buttonLink {
  background: #251f1f;
  text-decoration: none;
}

.link {
  text-decoration: none;
  background-color: #251f1f;
  padding: 2px;
  color: #ff6961;
  font-family: "Tahoma", "Geneva", "Verdana", "sans-serif";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed; */
}

.filtros {
  background: #251f1f;
  min-width: 200px;
  max-width: 470px;
}

.containerDos {
  /* max-width: 80%;
  margin: 0 auto;
  column-count: 3;
  column-width: 250px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-shrink: 3;
  background-color: #fdf5e6;
}

.link2 {
  text-decoration: none;
}

.link2:hover {
  transition: all 0.5s ease-in-out;
  filter: saturate(180%);
}
