.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 130px;
  border: 1px solid black;
  margin-right: 0px;
  padding-left: 2px;
}

.container button {
  width: 0px;
  border: 0px !important;
  /* border-left: 1px solid black; */
  /* margin-left: 0px; */
}

.container button img {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-right: 0px;
  background: white;
}

.container input {
  width: 100px;
  border: 0px;
  outline: none;
}
